* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgreen;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.header_nav {
  height: 90px;
  background-color: blue;
}

.jumbo {
  height: 800px;
  background-color: red;
}

.line_credits {
  height: 90px;
  background-color: yellow;
}

.quick_learn {
  height: 600px;
  background-color: orange;
}

.every_design {
  height: 600px;
  background-color: lime;
}

.box_text {
  background-color: pink;
  height: 600px;
}

.box_image {
  background-color: grey;
  height: 600px;
}

.double_section {
  height: 600px;
  background-color: lime;
}

.navbar_footer {
  height: 300px;
  background-color: lightblue;
}
