* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202527;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

h1 {
  color: white;
  font-size: 38px;
  font-weight: bold;
  padding-top: 40px;
}

.header_nav {
  height: 80px;
  background-color: #202527;
  border-bottom: 1px solid #3F4D4D;
}

.logo_nav {
  width: 40%;
  padding-top: 25px;
}

.menu_bar {
  line-height: 80px;
  vertical-align: middle;
}

.menu_bar li a {
  color: #3F4D4D;
  text-decoration: none;
}

.menu_bar li a:hover, .menu_bar li i:hover {
  color: white;
}

.menu_bar li i {
  color: #3F4D4D;
  font-size: 10px;
  padding-left: 5px;
}

.hamb_menu i {
  color: white;
  font-size: 40px;
  padding-top: 30px;
}

.btn-lime {
  border: 2px solid #A1DE42;
  color: white;
  background-color: #232525;
  margin-right: 5px;
}

.btn-lime:hover, .btn-grey:hover {
  color: #A1DE42;
}

.btn-grey {
  background-color: #232525;
  color: white;
  border: 2px solid #3F4D4D;
}

.big-btn-lime {
  border: 2px solid #A1DE42;
  color: white;
  background-color: #232525;
  padding: 15px 50px;
  margin-top: 40px;
}

.big-btn-lime:hover {
  color: #A1DE42;
}

.jumbo {
  height: 800px;
  background-color: #202527;
}

.jumbo p {
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
  padding: 0 20px;
  line-height: 25px;
  color: white;
}

.image_jumbo {
  padding-top: 40px;
  max-width: 100%;
}

.line_credits {
  height: 90px;
  background-color: yellow;
}

.quick_learn {
  height: 600px;
  background-color: orange;
}

.every_design {
  height: 600px;
  background-color: lime;
}

.box_text {
  background-color: pink;
  height: 600px;
}

.box_image {
  background-color: grey;
  height: 600px;
}

.double_section {
  height: 600px;
  background-color: lime;
}

.navbar_footer {
  height: 300px;
  background-color: lightblue;
}

@media screen and (max-width: 500px) {

.vectr {
  display: none;
}

.design {
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.logo_nav {
  max-width: 40%;
  padding-top: 40px;
}
.big-btn-lime {
  width: 90%;
}

}

@media screen and (min-width: 501px) {

.design {
  display: none;
}

.logo_nav {
  width: 40%;
  padding-top: 30px;
}

}

@media screen and (min-width: 501px) and (max-width: 992px)  {

.design {
  display: none;
}

.logo_nav {
  width: 30%;
  padding-top: 30px;
}

}
